@import url('https://fonts.googleapis.com/css?family=Pacifico|Work+Sans:900&display=swap');


body {
    background-color: #50C9CE;
    color: #E55934;
    font-family: 'Work Sans', sans-serif;
}

/* Header */


header {
    background-color: #E55934;
    color: #50C9CE;
    width: 60vw;
    margin: auto;
    text-align: center;
    box-shadow: 0px 2px 4px 1px #000;
    border-radius: 0 0 20px 20px;
}

.logo {
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #000;
}

.logo-text {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 2px 2px 4px #000;
}

/* Search Bar */

#autocomplete {
    background-color: #E55934;
    color: #50C9CE;
    text-shadow: 0px 0px 4px #000;
    margin: 10%;
    width: 80%;
    padding: 20px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
}

::placeholder {
    color: #dadada;
    text-shadow: 0px 0px 4px #000;
}

/* Results */

.results-heading {
    background-color: #E55934;
    color: #50C9CE;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    border-radius: 15px;
    padding: 10px 0;
    margin-bottom: 10px;
    box-shadow: 0 0 4px #000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
}

#hotelResults, #attrResults, #barsResults {
    font-size: 14px;
    padding: 5px 0;
    display: block;
    height: auto;
    width: auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -ms-center;
    
} 

.hotel-list, .bars-list, .attr-list {
  height: 30vh;
  overflow: auto;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
  margin: 5px 0;
}

.placeIcon {
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

.results-table {
  border-collapse: collapse;
  display: block;
  text-align: -webkit-center;
}

#rating {
  font-size: 13px;
}

/* Table */ 

.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}

/* Map */

#map {
    height: 60vh;
    width: auto;
}

/* Media Queries */

@media (min-width: 371px) {
    .logo-text{
        font-size: 30px;
    }
}


@media (min-width: 991px) {
    .results-heading {
        font-size: 18px;
    }
}
